@page "/connections"
@using JobScheduler.Frontend.Class.InternalClass
@using JobScheduler.Frontend.Components
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="container mt-4">
    <div class="row">
        <div class="col-11">
            <h4>Database Connections</h4>
        </div>
        <div class="col-1">
            <CustomButton Icon="bi bi-plus" @onclick="GoToCreateConnection">Add</CustomButton>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Server</th>
                <th>Database</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conn in connections)
            {
                <tr>
                    <td>@conn.Name</td>
                    <td>@conn.Host</td>
                    <td>@conn.DatabaseName</td>
                    <td>
                        <button class="btn btn-sm btn-primary">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<ConnectionDto> connections = new();

    protected override async Task OnInitializedAsync()
    {
        connections = await Http.GetFromJsonAsync<List<ConnectionDto>>("api/connection");
    }
    private void GoToCreateConnection()
    {
        Navigation.NavigateTo("/create-connection");
    }
}