<button class="@Class" @onclick="OnClick" disabled="@IsDisabled">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon me-2"></i>
    }
    @ChildContent
</button>

@code {
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-primary";
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
