@foreach (var option in Options)
{
    <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               name="@GroupName"
               value="@option.Value"
               checked="@IsChecked(option.Value)"
               @onchange="() => OnSelected(option.Value)" />

        <label class="form-check-label">@option.Label</label>
    </div>
}

@code {
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string GroupName { get; set; }
    [Parameter] public List<RadioOption> Options { get; set; }

    private bool IsChecked(string val) => Value == val;

    private async Task OnSelected(string val)
    {
        Value = val;
        await ValueChanged.InvokeAsync(val);
    }

    public class RadioOption
    {
        public string Label { get; set; }
        public string Value { get; set; }
    }
}
