<div class="form-check">
    <input class="form-check-input" type="checkbox" id="@Id" @bind="Value" />
    <label class="form-check-label" for="@Id">@Label</label>
</div>

@code {
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
}
